DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres # change hostname to `postgres` in production
JWT_SECRET=jwt-secret
RECEIPT_ENC_MASTER_KEY_V1= # randomBytes(32).toString('base64')
WEBHOOK_ENC_MASTER_KEY_V1= # randomBytes(32).toString('base64')
CACHE_URL=redis://localhost:6379 # change hostname to `redis` in production

RECEIPT_ENC_ACTIVE_KEY_VERSION=1
WEBHOOK_ENC_ACTIVE_KEY_VERSION=1

MAIL_TRANSPORT=smtp://localhost:1025 # change hostname to `mail` in production

# MinIO config
MINIO_ENDPOINT=localhost # change to `minio` in production
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
MINIO_PORT=9000

# OTel
OTEL_COLLECTOR_URL=http://localhost:4317 # change hostname to `otel-collector` in production
LOKI_URL=http://localhost:3100 # change hostname to `loki` in production
NODE_ENV= # development | production